<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Maintenance</title>
        <link rel="shortcut icon" href="/img/icons/icon.ico">

        <!-- CSS -->
        {#<link href="/lib/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>#}

        <!-- JS -->
        {#<script src="/lib/js/jquery.min.js"></script>#}

        <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    </head>
    <body>
        <div class="">
            {{ 'maintenance' | trans | raw }}
        </div>
    </body>
</html>
