<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Casino Tech | </title>

        <!-- Custom Theme Style -->
        <link href="/css/main.app.min.css?time={{ date().timestamp }}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="/vendor/bootstrap/dist/css/bootstrap.min.css?time={{ date().timestamp }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="/vendor/font-awesome/css/font-awesome.min.css?time={{ date().timestamp }}" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="nav-md">
        <input type="hidden" value="{{ global.session.get('_locale')}}" id="main-locale">
        <div class="container body">
            <div class="main_container">
                {% include('Application/view/Components/commonAlertPopup.twig') %}
                {% include('Application/view/Components/commonAlert.twig') %}

                {% block body %}
                {% endblock %}
            </div>
        </div>
        <!-- jQuery -->
        <script src="/vendor/jquery/dist/jquery.min.js?time={{ date().timestamp }}"></script>
        <!-- Bootstrap -->
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js?time={{ date().timestamp }}"></script>

        <script src="/js/main.app.min.js?time={{ date().timestamp }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>

</html>