{% set messages = global.session.get('appMessenger').getMessages() %}
<div class="page-title">
    <div class="title_left">
        {% for ekey, error in messages[constant('SRC\\Application\\Beans\\AppMessenger::ERROR')] %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <strong>Error!</strong> {{ error }}
            </div>
        {% endfor %}
        {% for ckey, success in messages[constant('SRC\\Application\\Beans\\AppMessenger::SUCCESS')] %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <strong>Success! </strong> {{ success }}
            </div>
        {% endfor %}
        {% for ikey, info in messages[constant('SRC\\Application\\Beans\\AppMessenger::INFO')] %}
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <strong>Info! </strong> {{ info }}
            </div>
        {% endfor %}
    </div>
</div>
<div class="clearfix"></div>