{% extends 'Application/view/layouts/main.twig' %}
{% block title %}{{ 'main.landing.title' | trans }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            setTimeout(function () {
                alertPopupView.showSuccess("Success Here");

            },1);
            setTimeout(function () {
                alertPopupView.showError("Error Here");

            },3000);
        });
    </script>
{% endblock %}

{% block body %}
    landing here

{% endblock %}

